<!DOCTYPE html>
<html>
  <head>
    <title>
      博客首页
    </title>
    <meta charset="utf-8"/>
    <link href="{{WEBREF}}/static/css/index.css" rel="stylesheet" type="text/css"/>
    <link href="{{WEBREF}}/static/css/forum.css" rel="stylesheet" type="text/css"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
          <!-- 引入 Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script src="{{WEBREF}}/static/js/layer/layer.js"></script>
  </head>
  <body>
    <div id="top">
      <div id="menu">
        <ul>
          <li>
            <a href="http://127.0.0.1:5000/">
              首页
            </a>
          </li>
          <li>
            <a href="http://127.0.0.1:5000/forum">
            论坛
            </a>
          </li>
          <li>
            <a href="http://127.0.0.1:5000/color">
             色彩
            </a>
          </li>
          <li>
            <a href="http://127.0.0.1:5000/issue">

            </a>
          </li>
          <li>
            <a href="http://127.0.0.1:5000/issue">
            </a>
          </li>
          <li>
            <a href="http://127.0.0.1:5000/issue">
            </a>
          </li>
                 <li>
            <a href="http://127.0.0.1:5000/issue">
            </a>
          </li>
                 <li>
            <a href="http://127.0.0.1:5000/issue">
            </a>
          </li>
                 <li>
            <a href="http://127.0.0.1:5000/issue">
            </a>
          </li>
                        <li>
            <a href="http://127.0.0.1:5000/issue">
            </a>
          </li>
                        <li>
            <a href="http://127.0.0.1:5000/issue">
            </a>
          </li>
                        <li>
            <a href="http://127.0.0.1:5000/issue">
            </a>
          </li>
          <li>
            <a href="http://127.0.0.1:5000/information">
              个人信息
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="middle">
       {% block middle %}
       {% endblock %}
    </div>
    <div id="bottom">
      <div id="bottom-content">
        <div id="content-left">
          <p>
            网站位置 | 关于我们 | 意见反馈 |
          </p>
        </div>
      </div>
      <div id="content-right"></div>
    </div>
  </body>
</html>