<!DOCTYPE html>
<html>
  <!DOCTYPE html>
  <html lang="en"></html>
  <head>
    <title>
      博客首页
    </title>
    <meta charset="utf-8"/>
    <link href="./static/css/index.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div id="top">
      <div id="menu">
        <ul>
          <li>
            <a>
              图片展示
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="http://127.0.0.1:5000/issue">
              心情随笔
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div id="middle">
      <li id="id1">
        <div>

        </div>
      </li>
    </div>
    <div id="bottom">
      <div id="bottom-content">
        <div id="content-left">
          <p>
            网站位置 | 关于我们 | 意见反馈 |
          </p>
        </div>
      </div>
      <div id="content-right"></div>
    </div>
  </body>
</html>